name: Publish

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    uses: ./.github/workflows/build.yml
  publish:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download nupkg artifact
        uses: actions/download-artifact@v7
        with:
          name: TskNet.Native
          path: ./nupkg
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
      - name: Push to NuGet
        run: dotnet nuget push ./nupkg/TskNet.Native.*.nupkg --source nuget.org -k ${{ secrets.NUGET_TOKEN }}